{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.player_name.label }}<br>
                {{ form.player_name(size=32) }}<br>
                {% for error in form.player_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.start_game() }}</p>
        </form>
    {% endif %}
    {% if game_output %}
        {% for player in game_output %}
            <p>{{ player }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
