{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock %}

<!-- jinja2 replaces placeholders captured in {{ }} and control statements -->
<!-- captured in {% %}.  Control statements include if/else/endif and for/endfor. -->
<!-- These represent parts of the page that are variable and will only be known at runtime -->

<!-- Jinja2 has a template inheritance feature. The block control statement -->
<!-- defines the place where the derived templates can insert themselves. Blocks are given a -->
<!-- unique name, which derived templates can reference when they provide their content. -->
<!-- The extends statement establishes the inheritance link between  two templates -->